.projects-section {
  padding: 80px 0 80px;
  /* background-image: url("../../../src/PortfolioContainer/Projects/bg-1.jpg"); */
  background-color:#000;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  z-index: -1;
}
.projects-section::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.85;
  background-color: #0a011b;
}
.footer-image {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-top: -110px;
}
.footer-image img {
  max-width: 100%;
  height: 130px;
}

.projects-section .project-item {
  background-color: rgb(228, 224, 13) ;
  padding: 30px;
  border-radius: 50px 50px 50px 50px;
}

.projects-section .project-item p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin: 0 0 10px;
  font-style: italic;
}

.projects-section .client-info {
  position: relative;
  padding-left: 80px;
  padding-top: 5px;
  min-height: 60px;
}
.projects-section .client-info img {
  height: 50px;
  width: 50px;
  border: 2px solid transparent;
  border-color: black;
  left: 0;
  top: 0;
  border-radius: 50%;
  position: absolute;;
}
.project-comment  h3 {
  color: white;
  background-color: rgb(0, 9, 59);
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  margin: 0 0 2px;
}
.project-comment .client-info p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
}